<table>
  <tr>
    <th>
      id
    </th>
    <th>
      Weapon
    </th>
    <th>
      electric
    </th>
    <th>
      handedness
    </th>
    <th>
      working
    </th>
    <th>
      borrowed
    </th>
    <th>
      comment
    </th>
    <th>
      delete
    </th>
  </tr>
  <tr *ngFor="let weapon of weapons">
    <td>
      {{weapon.id}}
    </td>
    <td>
      {{weapon.weapon}}
    </td>
    <td>
      {{weapon.electric == true ? "yes" : "no"}}
    </td>
    <td>
      {{weapon.handedness}}
    </td>
    <td>
      {{weapon.is_working == true ? "yes" : "no"}}
    </td>
    <td>
      {{weapon.is_borrowed == true ? "yes" : "no"}}
    </td>
    <td>
      {{weapon.comment}}
    </td>
    <td>
      <fa-icon [icon]="trash" (click)="removeWeapon(weapon.id)"></fa-icon>
    </td>
  </tr>
</table>
